.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  border: 1px black solid;
}
.table-head {
  display: flex;
}
.thead-row {
  width: 100px;
}
.table-body {
  display: flex;
  flex-direction: column;
}
.table-row {
  display: flex;
}
.table-row .table-cell {
  width: 100px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formDiv input {
  border: 1px #d3d3d3 solid;
  border-radius: 18px;
  color: black;
  margin: 16px 0;
}

.addNewBtn {
  border: 1px #d3d3d3 solid;
  font-size: 18px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}
